* {
    font-family: 'Roboto', sans-serif;
}
.ligne {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 70px;

}

.ligne hr {

    margin-right: 2%;
    margin-left: 2%;
    width: 30%;
    height: 0.5px;
    background-color: #050a30;
}
.ligne a {
    text-decoration: none;
    color: #050a30;
    margin: 0% 80px 0% 80px;
    font-size: 20px;
}
.ligne p {
    size: 2px;
}
.ligne a:hover{
    color: #b1d4e0;
   

}