/* ................footer......................... */
footer{
    margin-top: 2%;
    background-color:rgba(5, 10, 48, 1);
    color: white;
  display: flex;
  bottom: 0;   
}
footer .apropos{
margin-top: 5%;
}
footer #logo {
    width: 100px;
    padding: 1%;
    display: block;
    margin: auto;
    margin-top: 1%;
}
footer .equipe{
  text-align: center;  
  margin-top: 2%;
}
footer .equipe p{
    font-size: 12px;
}
footer .cree{
    margin-top: 10%;
    text-align: center;  
}