* {
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}


header {
    min-height: 100vh;
    width: 100%;
   background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* ...............navbar.......... */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;  
    transition: .5s;
}
nav .log img{
    width: 80px;
}

nav a{
margin-right: 25px;
color: white;

}


nav a:hover{
  
    color: #b1d4e0;
    text-decoration: none;
    }


@media screen and (max-width : 990px) {
    nav{
        background: linear-gradient(rgba(5, 10, 48, 1), rgba(5, 10, 48, 0.8));
    
    }
    nav li{
        margin-bottom: 30px;
        
        }
        nav a{
           text-align: center;
            color: white;    
            }
            nav #ull{
            margin: auto;
            }
    }
/* ................fin navbar ........... */
.row {
    margin: 4% 0% 4% 0%;
}


.intro {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
}

.intro h1 {
    font-weight: 800;
    font-size: 2rem;
    color: #faf9f9;
}
.intro p {
    color: #faf9f9;
    margin: 2% 0% 12% 0%;
}

.intro a {
    text-decoration: none;
    color: #faf9f9;
    border: 1px solid #faf9f9;
    border-radius: 7px;
    padding: 2%;
}

.intro a:hover {
    background-color: #faf9f9;
    color: #050a30;
    transition: .5s;
    border-radius: 2px;
}
h2,h3,h4,h5,h6,p {
    text-align: center;
}
.cont {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.object {
    background-color: #faf9f9;
    padding: 2%;
    border-radius: 15px;
}
.line::after {
    content: "";
    margin: auto;
    width: 10%;
    height: 2px;
    display: block;
    background-color: #050a30;
}
.line:hover::after {
    background-color: #b1d4e0;
}

.WhoWeAre {
    background-color: #eeeeee;
    padding: 2%;
}

.WhoWeAre img {
    width: 80%;
    height: 90%;
    margin-left: 8%;
    margin-top: 3%;
}

.WhoWeAre p {
    font-size: small;
}

.WhoWeAre h4 {
    margin-top: 3%;
}
/* !!!!!!!!!!!!!!! */

.ProblemSolving img {
    width: 75%;
    display: block;
    margin: 2% auto 5% auto;
}

/* !!!!!!!!!!!!!!!!!!!!! */

.contenir {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

.social-links{
    display: flex;
    padding: 2%;
    justify-content: space-around;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */



#buttoncontact{
    text-align: center;
    }
    
    #buttoncontact button{
      
        color: #050a30;
       margin-bottom: 3%;
        border-radius: 7px;
     width: 200px;
     height: 5vh;
     margin-left: 2%;
     margin-right: 2%;
     background-color: #faf9f9;
    }
    #buttoncontact .envoie{
    background-color: #050a30;
    color:#faf9f9;
    }
    .rsdiv{
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
        border-radius: 5px;
        border: solid 0.5px  rgba(149, 157, 165, 0.5); 
        width: 99%;
        
        padding: 10px;
        height: 120px;
        margin: auto;

    }
   
    .rsdiv i {
        margin-right: 8%;
        margin-left: 2%;
        margin-top: 2%;
    }
    .rsdiv a{
        text-decoration: none;
        color:black;
    }
.contact input{
    box-shadow: rgba(62, 96, 131, 0.5) 0px 8px 24px; 
    border: solid 0.5px  rgba(149, 157, 165, 0.3); 
    border-radius: 5px;
    width: 98%;
    height:40px ; 
    margin-bottom: 3%;
}
.message{    
     box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 5px;
    border: solid 0.5px  rgba(149, 157, 165, 0.5); 
    width: 98%;
    height: 120px;
    
   }
   .contacter .rs{
display: flex;
left: 0;
margin-bottom: 3%;
   }
/* ................footer......................... */
   footer{
    margin-top: 2%;
    background-color:rgba(5, 10, 48, 1);
    color: white;
  display: flex;
  bottom: 0;   
}
footer .apropos{
margin-top: 5%;
}
footer #logo {
    width: 100px;
    padding: 1%;
    display: block;
    margin: auto;
    margin-top: 1%;
}
footer .equipe{
  text-align: center;  
  margin-top: 2%;
}
footer .equipe p{
    font-size: 12px;
}
footer .cree{
    margin-top: 10%;
    text-align: center;  
}